* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

/* the slides */
.slick-slide {
    margin: 0 0px;
}

/* the parent */
.slick-list {
    margin: 0 -0px;
}